@model SD_330_W22SD_Assignment.Models.Question

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Question Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Upvote or downvote this question
        </dt>
        <dd class="col-sm-10">
            <a asp-action="UpVote" asp-route-QuestionId="@Model.ID"> UpVote</a> | 
            <a asp-action="DownVote" asp-route-QuestionId="@Model.ID"> DownVote</a> | 
            <a asp-action="Answer" asp-route-QuestionId="@Model.ID">Answer this question</a>
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            User
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.user.Name)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            Date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            Detail
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuestionDetail)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            Tags
        </dt>
        <dd class="col-sm-10">
            @foreach(Tag t in Model.Tags){
                 <a asp-action="SameTagQuestion" asp-route-tagName="@t.Name"> @Html.DisplayFor(modelItem => t.Name)</a>
            }
        </dd>
    </dl>
    @if(@Model.CorrectAnswer is not null)
    {
        <dl class="row">
        <dt class="col-sm-2">
            Correct Answer
        </dt>
        <dd class="col-sm-10">
            @Model.CorrectAnswer.Detail
        </dd>
    </dl>
    }
    @if(@Model.Answers is not null)
    {
        <dl class="row">
        <dt class="col-sm-2">
            Answers
        </dt>
        <dd class="col-sm-10">
            @foreach(Answer a in Model.Answers)
            {           
                <dd class="col-sm-10">
                    @Html.DisplayFor(modelItem => a.Detail)<br />
                    <a asp-action="UpVote" asp-route-AnswerId="@a.ID"> UpVote</a> | 
                    <a asp-action="DownVote" asp-route-AnswerId="@a.ID"> DownVote</a> | 
                    <a asp-action="SetCorrectAnswer" asp-route-AnswerId="@a.ID" asp-route-questionId="@Model.ID"> Set as correct answer</a>
                </dd>
                <br />
            }
        </dd>
    </dl>
    }
    //<p>@Model.CorrectAnswer.Detail</p>
    @*@if(Model.CorrectAnswer is not null)
    {
        <div>
            <h2>Correct Answer:</h2>
            <p>@Model.CorrectAnswer.Detail</p>
        </div>
    }*@
</div>
<div>
    <a asp-action="Index"><button>Back to List</button></a>
</div>
