@model PaginatedList<SD_330_W22SD_Assignment.Models.Question>
@{
    ViewData["Title"] = "Main page";
}

<h3>Your reputation: @ViewData["Reputation"]</h3>
<br />
<h1>Recent question</h1>

<p>
    <a asp-action="Create">Ask a question</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AnswerNumSort"]">Answer Number</a>                  
            </th>
            <th>
                Name
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSort"]">Created Date</a>
            </th>
            <th>
                Operation
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ID">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    <button>Previous</button>
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
   <button>Next</button>
</a>